@inherits LayoutComponentBase

<Header />

@Body

<footer class="container-fluid bg-light mt-5 border-top">
    <div class="container w-100 d-flex justify-content-center py-4">
        <p>Created with Sereyn CMS</p>
    </div>
</footer>